@font-face {
  font-family: Charm;
  src: url("../public/fonts/Charm-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color: rgb(8, 74, 123);
}

#root {
  background-color: white;
  color: black;
  display: grid;
  position: relative;
  grid-template-areas: "eye h h"
                       "eye main photo"
                       "eye main x"
                       "footer footer footer";
  grid-template-columns: minmax(100px, min(20%, 200px)) 1fr max-content;
  justify-content: stretch;
  place-items: center;
  row-gap: 2rem;
  height: 100%;
}

@media all and (max-width: 768px){
  #root {
    grid-template-areas: "eye h h"
                       "photo photo main "
                       "x x main"
                       "footer footer footer";
    grid-template-columns: minmax(70px, min(10%, 200px)) 0.1fr 1fr;
  }

}

.hidden-header {
  grid-column: 1 / 1;
  background: #B4C8D7;
  grid-row: 1 / 1;
  width: 100%;
  height: 100%;
}
header {
  grid-area: h;
  font-family: Charm serif;
  font-size: calc(1.5rem + 0.390625vw);;
  font-weight: bolder;
  place-self: stretch;
  background: #B4C8D7;
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

h1 {
  color: var(--main-color);
}

textarea {
  resize: none;
  outline: unset;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 1px black;
  width: 100%;
}
textarea:focus, textarea:focus-visible {
  box-sizing: border-box;
  box-shadow: 0 2px var(--main-color);
}
textarea:invalid {
  box-shadow: 0 2px red;
}

header > i {
  text-shadow: #dbc97d 1px 0 5px, #dbc97d -1px 0 5px, #dbc97d 0 1px 5px, #dbc97d 0 -1px 5px;
}

.logo {
  position: absolute;
  top: 0;
  width: 100px;
  grid-row: 1 / -1;
  align-self: start;
}

.eye-of-the-tiger {
  width: 100%;
  clip-path: ellipse(98% 100% at left top);
}
.eye-of-the-tiger-wrapper {
  position: absolute;
  background-color: #6f848f;
  grid-column: 1 / 1;
  top: 0;
  width: 100%;
  clip-path: ellipse(100% 100% at left top);
  min-height: 0;
}

.avatar {
  overflow: hidden;
  grid-area: photo;
  align-self: start;
  position: relative;
  /*clip-path: ellipse(20px 50px);*/
}


main {
  grid-area: main;
  justify-self: stretch;
  padding: 1rem;
  overflow-x: auto;
}

footer {
  grid-area: footer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

li {
  list-style-image: url(assets/star.svg);
}
li::marker {
  font-size: 2em;
}

.icon-btn {
  all: unset;
  display: block;
  padding-block: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.icon-btn:hover {
  background-color: rgb(0, 0, 0, 8%);
}

.icon-btn:focus {
  outline: 1px auto var(--main-color);
  background-color: rgb(0, 0, 0, 8%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
